.logo-container{
 
    padding: 0%;
    margin: 0%;
    width:400px;
    margin-left: 0vw;
    display: contents;
}
.logo-container>button>a>img {
    width: 334px;
    height: 9vh;
    padding: 0%;
   
}
.logo-container>button{
    background-color: rgba(240, 248, 255, 0);
    padding: 0%;
    border:none;
    
}
@media only screen and (max-width: 600px) {
    .logo-container{
     width:200px;
        
    }
    .logo-container>img {
        width: 250px;
        height: 10vh;
           
    
    }
}